google {
 project = 'ashires-pso-experimental'
 region = 'europe-west2'
 lifeSciences.preemptible = false
}

k8s {
 storageClaimName = 'nextflow-filestore-claim'
 storageMountPath = '/nextflow'
 storageSubPath = '/nextflow/data'
 serviceAccount = 'system:serviceaccount:nextflow:default'
 namespace      = 'default'
 context = 'gke_ashires-pso-experimental_europe-west2-a_nextflow-cluster'
}
