plugins {
 id 'nf-google'
}

google {
 project = 'ashires-pso-experimental'
 region = 'europe-west2'
 lifeSciences.preemptible = false
}

k8s {
     debug.yaml = true
     storageClaimName = 'nextflow-filestore-claim'
     storageMountPath = '/nextflow'
     namespace = 'default'
     serviceAccount = 'system:serviceaccount:nextflow:default'
}